@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
	var sectionTitle = Umbraco.ContentAtRoot().FirstOrDefault().ChildrenOfType("ourWorksSection").Where(x => x.IsVisible());
    var portfolioItem = Model.Root()?.FirstChildOfType("ourWorksSection")?.ChildrenOfType("ourWorks").Where(x => x.IsVisible());
}

	<!-- OUR WORKS -->
	<section id="our-works">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
            	        @foreach (var item in sectionTitle)
{
						<h1>@item.Value("sectionTitle")</h1>
}
						<span class="st-border"></span>
					</div>
				</div>

				<div class="portfolio-wrapper" >
					<div class="col-md-12">
						<ul class="filter">  			
							<li><a class="active" href="#" data-filter="*">All</a></li>	
							<li><a href="#" data-filter=".wordpress">WordPress</a></li>
							<li><a href="#" data-filter=".html">HTML</a></li>
							<li><a href="#" data-filter=".graphic">Graphic</a></li>
							<li><a href="#" data-filter=".php">PHP</a></li>
							<li><a href="#" data-filter=".bootstrap">Bootstrap</a></li>
						</ul><!--/#portfolio-filter-->
					</div>
					
					<div class="portfolio-items">
					    
					    @foreach (var item in portfolioItem)
{
					    
						<div class="col-md-4 col-sm-6 work-grid @item.Value("tags")">
							<div class="portfolio-content">
    		    				@{
                                    var portfolioImage = item.Value<IPublishedContent>("image");
                                    if (portfolioImage != null)
                                    {
								        <img class="img-responsive" src="@portfolioImage.Url" alt="">
                                    }
                                }

								
								
								<div class="portfolio-overlay">
									<a href="/media/works/portfolio-1.jpg"><i class="fa @item.Value("icon")"></i></a>
									<h5>@item.Value("imageTitle")</h5>
									<p>@item.Value("description")</p>
								</div>
							</div>	
						</div>
}				
					</div>				
				</div>

			</div>
		</div>
	</section>
	<!-- /OUR WORKS -->